<!-- src/app/app.component.html -->
<!--<h1>Auto-ML Platform</h1> -->
<!--<app-data-collection></app-data-collection> -->

<mat-toolbar color="primary">
  <span class="logo-container">
    <img src="assets/declarai_logo_2.png" alt="DeclarAI Logo" class="logo" style="height: 65px; margin-left: 10px;">
  </span>
  <span class="spacer"></span>
  <!-- Home Page Button with Dropdown -->
  <a mat-button routerLink="/home">Home</a>
  <a mat-button [matMenuTriggerFor]="FeatureStore">Feature Store</a>
  <mat-menu #FeatureStore="matMenu">
    <button mat-menu-item>Feature Collection</button>
    <button mat-menu-item>Feature Engineering</button>
    <button mat-menu-item>Feature Monitoring</button>
  </mat-menu>
  <a mat-button [matMenuTriggerFor]="ModelStore">Model Store</a>
  <mat-menu #ModelStore="matMenu">
    <button mat-menu-item routerLink="/model-development">Model Development</button>
    <button mat-menu-item>Model Re-Fitting</button>
    <button mat-menu-item>Model Monitoring</button>
  </mat-menu>
  <a mat-button [matMenuTriggerFor]="Deployments">Deployments</a>
  <mat-menu #Deployments="matMenu">
    <button mat-menu-item>Deployed Artifacts</button>
    <button mat-menu-item>Security Monitoring</button>
    <button mat-menu-item>Performance Monitoring</button>
    <button mat-menu-item>New Deployment</button>
  </mat-menu>
  <a mat-button [matMenuTriggerFor]="Reporting">Reporting</a>
  <mat-menu #Reporting="matMenu">
    <button mat-menu-item>Model Summary</button>
    <button mat-menu-item>Quality Report</button>
    <button mat-menu-item>Explainability</button>
    <button mat-menu-item>Causality</button>
  </mat-menu>
  <a mat-button [matMenuTriggerFor]="About">About</a>
  <mat-menu #About="matMenu">
    <button mat-menu-item>User Guide</button>
    <button mat-menu-item>White Paper</button>
    <button mat-menu-item>Team & Community</button>
    <button mat-menu-item>References</button>
  </mat-menu>
</mat-toolbar>

<div class="content-container">
  <router-outlet></router-outlet>
</div>