<!-- home.component.html -->
<div class="home-container">
    <h1>declar.ai</h1>
    <p class="tagline">Model development workspace</p>
    <div class="menu-grid">
      <section *ngFor="let item of menuItems" class="menu-item">
        <div class="icon-container">
            <img [src]="item.staticIcon" [attr.data-gif]="item.gifIcon" [alt]="" class="menu-icon" role="presentation">
        </div>
        <h2>{{ item.name }}</h2>
        <ul>
          <li *ngFor="let subItem of item.subItems">
            <a *ngIf="subItem === 'Model Development'" routerLink="/model-development" matRipple>{{ subItem }}</a>
            <span *ngIf="subItem !== 'Model Development'" class="menu-item-disabled">{{ subItem }}</span>
          </li>
        </ul>
      </section>
    </div>
  </div>