/* src/app/data-collection/data-collection.component.css */
.preview-container, .data-dictionary-container {
  margin-top: 20px;
}

.table-container {
  max-height: 400px;  /* Adjust this value as needed */
  overflow-y: auto;
  overflow-x: auto;
}

.preview-table, .data-dictionary-table {
  width: 100%;
  border-collapse: collapse;
}

.preview-table th, .preview-table td,
.data-dictionary-table th, .data-dictionary-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.preview-table th, .data-dictionary-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 1;
}

.preview-table .separator-row td {
  text-align: center;
  font-weight: bold;
  background-color: #f9f9f9;
  color: #999;
}

.dictionary-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.dictionary-upload {
  display: flex;
  align-items: center;
}

.dictionary-upload input[type="file"] {
  margin-right: 10px;
}

h1, h2, h3 {
  color: #000;
  margin-top: 20px;
  margin-bottom: 10px;
}

.file-input-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.file-input-group input[type="file"] {
  margin-right: 10px;
}

button {
  padding: 8px 16px;
  background-color: #740505;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #740505;
}

/* Responsive design for small screens */
@media screen and (max-width: 600px) {
  .preview-table, .data-dictionary-table {
    font-size: 12px;
  }
  
  .preview-table th, .preview-table td,
  .data-dictionary-table th, .data-dictionary-table td {
    padding: 4px;
  }
}

.error-message {
  color: #ff0000;
  margin-top: 10px;
  font-weight: bold;
}

.use-existing-btn {
  margin-left: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.use-existing-btn:hover {
  background-color: #45a049;
}