<h2 mat-dialog-title>Feature Card of {{data.Feature_Name}}</h2>
<mat-dialog-content>
  <p><strong>Description:</strong> {{data.Feature_Description || 'N/A'}}</p>
  
  <h3>Descriptive Statistics</h3>
  <div class="table-container">
    <table *ngIf="data.Level_of_Measurement === 'continuous' || data.Level_of_Measurement === 'cardinal'" class="descriptive-stats-table">
      <thead>
        <tr>
          <th *ngFor="let stat of numericalStats">{{stat}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td *ngFor="let stat of numericalStats">{{data.Descriptive_Stats[stat] ?? 'N/A'}}</td>
        </tr>
      </tbody>
    </table>

    <table *ngIf="data.Level_of_Measurement === 'nominal' || data.Level_of_Measurement === 'ordinal'" class="descriptive-stats-table">
      <thead>
        <tr>
          <th *ngFor="let stat of categoricalStats">{{stat}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td *ngFor="let stat of categoricalStats">{{data.Descriptive_Stats[stat] ?? 'N/A'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>