.model-development-container {
  padding: 20px;
}

h1 {
  color: #740505;
  margin-bottom: 20px;
}

.pipeline-dropdown {
  margin-bottom: 20px;
}

.pipeline-dropdown select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #740505;
  border-radius: 5px;
  background-color: white;
  color: #740505;
  cursor: pointer;
  position: right;
}

.model-development-line {
  margin:0px 0;
  height:5px;
  background:
    repeating-linear-gradient(90deg,#740505 0 5px ,#0000 0 9px);
  background-size:100% 2px;
  background-repeat:no-repeat;
}

.side-menu {
  position: fixed;
  left: -180px;
  top: 50%;
  transform: translateY(-50%);
  width: 230px;
  transition: all 0.3s ease-out;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0 10px 10px 0;
}

.side-menu:hover {
  left: 0;
}

.menu-header {
  padding: 15px 20px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.side-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.side-menu li {
  padding: 10px 20px;
  transition: all 0.3s ease-out;
}

.side-menu a {
  color: white;
  text-decoration: none;
  display: block;
  white-space: nowrap;
}

.side-menu li.active {
  background: rgba(116, 5, 5, 0.8);
}

.model-development-content {
  margin-left: 60px;
  padding: 20px;
}