<div class="model-development-container">
  <p style="font-size:larger; font-weight:bold">
    Model Development Pipeline</p>
  <nav class="side-menu">
    <div class="menu-header">Pipeline Flow</div>
    <ul>
      <li *ngFor="let item of menuItems; let i = index" 
          [class.active]="currentRoute === item">
        <a [routerLink]="['/model-development', item]">
          {{i + 1}}-{{ item | titlecase }}
        </a>
      </li>
    </ul>
  </nav>

  <div class="model-development-content">
    <router-outlet></router-outlet>
  </div>
</div>